{% extends "index.html" %}
{% load static %}

{% block title %}
Modificar datos
{% endblock title %}

{% block h_1 %}
Modificar información del producto:
{% endblock h_1 %}

{% block main %}
<div class="d-flex flex-column">
    <div class="container-fluid">
        <div class="column mb-4">
            <form action="" method="POST"> {% csrf_token %}
                <table>{{form}}</table>  
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>
{% endblock main %}