{% extends "index.html" %}
{% load static %}

{% block title %}
Detalles
{% endblock title %}

{% block h_1 %}
Cliente: {{client.first_name}} {{client.last_name}}
{% endblock h_1 %}

{% block main %}
<table class="table">
	<thead>
	<tr>
		<th scope="col">Nombre</th>
		<th scope="col">Apellido</th>
		<th scope="col">Teléfono</th>
		<th scope="col">Email</th>
	</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{client.first_name}}</td>
				<td>{{client.last_name}}</td>
				<td>{{client.phone}}</td>
				<td>{{client.email}}</td>
			</tr>
	</tbody>
</table>
{% comment %} <table class="table">
	<thead>
	<tr>
		<th scope="col"></th>
		<th scope="col"></th>
		<th scope="col"></th>
		<th scope="col"></th>
	</tr>
	</thead>
	<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
	</tbody>
</table> {% endcomment %}
{% endblock main %}