{% extends "index.html" %}
{% load static %}

{% block title %}
Usuarios
{% endblock title %}

{% block h_1 %}
Usuarios mediante Django ListView
{% endblock h_1 %}

{% block main %}
<div class="container-fluid">
    <div class = "row"> 
        <div class="col justify-content-between">
            {% if users %}
            <div class="h5">
                Usuarios
            </div>
            <ul class="pl-1">
                {% for user in users %}
                <li><a href={% url "detailview" user.id %}>{{user.user}}</a> - <a href={% url "deleteview" user.id%}>Delete</a> - <a href={% url "updateview" user.id %}>Update</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="h5">
                No hay usuarios
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main %}
